# funtions:

In [1]:
#simple
#code reusability

In [ ]:
#input:1234
#output:6(2+4)

# def evenDigitsSum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    print(s)

evenDigitsSum(1234)

In [10]:
#input19535
#output9

In [1]:
def largenumber(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large

largenumber(19535)

9

In [2]:
   #fatorial of a number
    #storng number:145 = 1!+4!+5!
    #palindrome

# collection types:

- 1.list
- 2.tuple
- 3.set
- 4.Dictionary

### list:
- one of the datastrucltures available in python.
- list is always enclosed in[]
- elments i the list are seperated by cooma(,)

In [4]:
list1=[1,1.2,"abc"]
print(list1)
type(list1)

[1, 1.2, 'abc']

list

In [7]:
i=[1,5,6,3,7]
i[3]

3

In [23]:
i=[1,5,6,3,7]
print(i[0])
print(i[2])
print(i[4])
print(i[0:5])

1
6
7
[1, 5, 6, 3, 7]

In [29]:
i=[1,5,6,3,7]
print(i[0])
print(i[2])
print(i[4])
print(i[0:-2])

1
6
7
[1, 5, 6]

In [27]:
i=[1,5,6,3,7]
print(i[0:3])

[1, 5, 6]

In [28]:
i=[1,5,6,3,7]
print(i[0:2:5])

[1]

In [30]:
i=[1,5,6,3,7]
print(i[0:])

[1, 5, 6, 3, 7]

In [32]:
i=[1,5,6,3,7]
print(i[-2:])

[3, 7]

In [38]:
i=[1,5,6,3,7]
print(i[::3])

[1, 3]

In [45]:
##basic funtions of list:
i=[1,5,6,3,7]
print(max(i))
print(min(i))
print(sum(i))
print(len(i))
print((sum(i)/len(i)))

7
1
22
5
4.4

In [42]:
##basic funtions of list:
i=['a','b','z','s']
print(max(i))
print(min(i))

z
a

In [53]:

i=[1,5,6,3,7]
i[0]="nihith"
print(i)

['nihith', 5, 6, 3, 7]

In [54]:
i[4]="nani"
print(i)

['nihith', 5, 6, 3, 'nani']

In [55]:
del i[4]
print(i)

['nihith', 5, 6, 3]

In [65]:
del i

NameError: name 'i' is not defined

In [69]:
i=[2,6,4,5]
print(i*2)
print(6 in i)
print(0 in i)

[2, 6, 4, 5, 2, 6, 4, 5]
True
False

In [76]:
#to acess the elements throught  iterations
print(i) 
for l in i:
    print(l, end=" ")

[2, 6, 4, 5]
2 6 4 5

In [81]:
for l in[2,8.5,6,22,43]:
       print(l)

2
8.5
6
22
43

In [86]:
print(i)
for l in range(len(i)):
    print(i[l])

[2, 6, 4, 5]
2
6
4
5

In [87]:
#list methods:
print(i)

[2, 6, 4, 5]

In [89]:
i.append("python")
i

[2, 6, 4, 5, 'python']

In [95]:
i=[1,2,3,4,5,"nihith"]
i.insert(3,"gitam")

i

[1, 2, 3, 'gitam', 4, 5, 'nihith']

In [97]:
i.count(3)

1

In [100]:
print(i)
i.index("gitam")

[1, 2, 3, 'gitam', 4, 5, 'nihith']

3

In [101]:
i.pop(3)

'gitam'

In [103]:
print(i)

[1, 2, 3, 4, 5, 'nihith']

In [110]:
print(i)
li=["abc","gitam"]
print(li)
i.extend(li)

[1, 2, 3, 4, 5, 'nihith', 'abc', 'gitam']
['abc', 'gitam']

In [112]:
i=[3,58,25,528,18,28,2,8]
i.sort()
print(i)

[2, 3, 8, 18, 25, 28, 58, 528]

In [113]:
li=i.reverse()
i

[528, 58, 28, 25, 18, 8, 3, 2]

## Tuple
- tuples are enclosed in paranthesis()
- tuples are immutable i.e,elements inside a tuple cannot be changed or deleted
- modifications are not possible in tuple
- tuples are used only to access the data

### differences between list and tuples:
- list---> [],tuples-->()
- list is mutable(changes can be made),tuple is imutable( no changes can be made)

In [115]:
t1=(1,6.45,"python")
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [117]:
t1[0]

1

In [119]:
t1[0:]

(1, 6.45, 'python')

In [121]:
t1[0:2]

(1, 6.45)

In [122]:
t1[0]="nihith"

TypeError: 'tuple' object does not support item assignment

In [124]:
help('tuple')

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## dictionary:
- dictionaries are enclosed in {}
- it consists of key value pairs
- each key is separted to it's value by a colon(:)
- each key is separted by comma(,)
- key must be unique ehile creating any dictionary.

In [141]:
d1 ={"name":"gitam","emailid":"gitam@gmail.com","address":"hyd"}
print(d1)
print(type(d1))

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'address': 'hyd'}
<class 'dict'>

In [127]:
d1["name"]

'gitam'

In [128]:
d1["address"]

'hyd'

In [142]:
d1["course"]="python"
d1

{'name': 'gitam',
 'emailid': 'gitam@gmail.com',
 'address': 'hyd',
 'course': 'python'}

In [143]:
del d1['course']

In [144]:
d1

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'address': 'hyd'}

In [145]:
d1.keys()

dict_keys(['name', 'emailid', 'address'])

In [146]:
d1.values()

dict_values(['gitam', 'gitam@gmail.com', 'hyd'])

In [147]:
d1['name']="abcd"

In [150]:
dict1={"name":"gitam","emailid":"gitam@gmail.com","address":"hyd","name":"abcd"}
print(dict1)

{'name': 'abcd', 'emailid': 'gitam@gmail.com', 'address': 'hyd'}

### strings:

In [152]:
s="nihith"
s[0]

'n'

In [153]:
s[0:4]

'nihi'

In [154]:
s[0:2:4]

'n'

In [155]:
s[0:-2]

'nihi'

In [156]:
s[::-1]

'htihin'

In [160]:
# function to check for a palindrome of string
def palindrome(s):
    if s==s[::-1]:
        print("palindrome")
    else:
        print("not a palindrome")
palindrome("string")

not a palindrome

# string methods:
- join(): menthod to conctenate the strings

In [161]:
s
print(" ".join(s))

n i h i t h

In [162]:
s
print(",".join(s))

n,i,h,i,t,h

In [164]:
s1="waste fellow"
print(" ".join(s1))

w a s t e   f e l l o w

In [165]:
s1="waste fellow"
print(",,".join(s1))

w,,a,,s,,t,,e,, ,,f,,e,,l,,l,,o,,w

In [169]:
#split:
s3="nihith is very good boy"
print(s3.split())

['nihith', 'is', 'very', 'good', 'boy']

In [170]:
#split:
s3="nihith is very good boy"
print(s3.split('s'))

['nihith i', ' very good boy']

In [171]:
#replace
s3
print(s3.replace("good","bad"))

nihith is very bad boy